<!-- -----------chatbox------------- -->
<div class="modal fade" id="chatbox" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div style="max-width: 650px;" class="modal-dialog modal-dialog-scrollable">
  <div class="modal-content">
    <div class="modal-header msger-header">
      <div class="msger-header-title">
        <i class="fas fa-comment-alt"></i> ChatBox
      </div>
      <div class="msger-header-options">
        <button style="margin: 0px; padding: 0px;" type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    </div>
    <section style="box-sizing: border-box; margin: 0%; padding: 0%; " class="msger modal-body">
      <main class="msger-chat ">
      </main>
      <form class="msger-inputarea">
        <input type="text" class="msger-input" placeholder="Enter your message...">
        <button type="submit" class="msger-send-btn">Send</button>
      </form>
    </section>
  </div>
</div>
</div>