<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        #main {
            width: 60%;
            margin: 50px auto;
        }
    </style>
</head>

<body>

    <div id="main">
        <div style="text-align: center;">
            <h3>
                Account Verified successfully
            </h3>
        </div>
        <div style="text-align: center;">
            <a type="submit" href="/login">click heare to login</a>
        </div>
    </div>

</body>

</html>